
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="w3-bar">
        <a class="navbar-brand" href="#">MYPITCH</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-right">HOME</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-right">PROFILE</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-right">POSTS</a>
        <a href="{{url_for('main.logout')}}" class="w3-bar-item w3-button w3-hover-teal w3-right">SIGN OUT</a>
    </div>
</nav>