{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<body style="background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); background-repeat: no-repeat ">
    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
            {% endfor %}
        </div>

        <div class="row" style="margin-top: 1%; margin-left: 1%;">
            <div class="col-sm-7">
                {% if user %}
                <p> {{user.username| capitalize}} </p>
                {% endif %}

                {% for post in posts %}
                <div class=""
                    style="padding: 1%; font-family: 'Lora', serif; font-size: 1.2rem; text-align: justify; display: grid; grid-template-rows: auto auto; gap: 20px; width: auto;">
                    <div class="card-header">
                        <div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <h5>Category: {{ post.category_stuff}}</h5>
                                </h5>
                                <p class="card-text">{{ post.pitch_stuff}}</p>

                                <div class="d-flex ">
                                    <div class="p-2  order-1">
                                        <button class="btn btn-outline-primary">
                                            <a href="{{url_for('main.upvotes',id = post.id)}}"style="text-decoration: none">Upvotes
                                                {{post.upvote.count()}}</a>
                                        </button>
                                    </div>
                                    <div class="p-2 order-2">
                                        <button class="btn btn-outline-primary">
                                            <a href="{{url_for('main.downvotes',id = post.id)}}" style="text-decoration: none">Downvotes
                                                {{post.downvote.count()}}</a>
                                        </button>
                                    </div>
                                    <div class="p-2 order-3">
                                        <a href="{{url_for('main.add_comment', pitch_id = post.id)}}"
                                            class="btn btn-outline-warning">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
                <div class="col-sm-4" style="margin-left: 0.5%; font-family: 'Lora', serif;">
                    <ul class="list-group" style="margin-left: 10%; background-color: #03045E;">
                        <li class="list-group-item list-group-item-warning">Pitch Categories</li>
                        <li class="list-group-item list-group-item-primary">Tech</li>
                        <li class="list-group-item list-group-item-primary">Marketing</li>
                        <li class="list-group-item list-group-item-primary">Pick Up lines</li>
                        <li class="list-group-item list-group-item-primary">Educational</li>
                      </ul>
                </div>            
        </div>
    </div>

</body>
{%endblock %}

{% block footer %}
{% endblock %}