{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<body style="background-color: white; color: black;">
    <div class="container">
        <div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {% endfor %}
            <div class="w3-card w3-sand" style="padding: 10px; margin-top: 1%">

                


        <div>
            {% for post in posts %}
            {% if user %}
            <p> {{user.username| capitalize}} </p>
            {% endif %}

            <div div class="w3-card w3-sand w3-hover" style="padding: 10px; margin-top: 1%; border-radius: 12px;">
                <h5>Category: {{ post.category_stuff}}</h5>
                <p>{{ post.pitch_stuff}}</p>
                <small>Posted On: {{post.date_posted.strftime('%Y-%m-%d')}}</small><br>
                <button class="btn btn-outline-primary">
                    <a href="{{url_for('main.upvotes',id = post.id)}}">Upvote</a>
                </button>
                <p>{{post.upvote.count()}}</p>
                <button class="btn btn-outline-primary">
                    <a href="{{url_for('main.downvotes',id = post.id)}}">Downvote</a>
                </button>
                <p>{{post.downvote.count()}}</p>
                <a href="{{url_for('main.add_comment', pitch_id = post.id)}}" class="btn btn-outline-primary">Comment</a>
                
            </div>
            
            {% endfor %}
            
        </div>
        


    </div>
    <script src="{{url_for('static',filename='index.js')}}"></script>

</body>
{%endblock %}

{% block footer %}
{% endblock %}