{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<h1>MYPITCH</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <img src="..." alt="" class="rounded me-2">
            </div>
            <div>
                {{ wtf.form_field(pitch.category)}}
                {{ wtf.form_field(pitch.pitch)}}
                {{ wtf.form_field(pitch.submit)}}
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Morbi justo augue, mattis
                    non eros vitae, fermentum varius diam.
                    Nam vel elementum lacus. Suspendisse
                    perdiet, ornare arcu eu, pharetra arcu.
                </p>
            </div>
            <div>
                {{ wtf.form_field(form.comment) }}
                <button class="btn btn-outline-info">{{ wtf.form_field(form.submit)}}</button>
            </div>
            <div>
                <i class="fa-solid fa-thumbs-up"></i>

            </div>
            <div>
                <i class="fa-solid fa-thumbs-down">Downvote</i>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Morbi justo augue, mattis
                    non eros vitae, fermentum varius diam.
                    Nam vel elementum lacus. Suspendisse
                    perdiet, ornare arcu eu, pharetra arcu.
                </p>
            </div>
            <div>
                <span aria-placeholder="Comment"></span>
                {{ wtf.form_field(form.comment) }}
                <span class="btn-outline-secondary">{{ wtf.form_field(form.submit)}}</span>
            </div>
            <div>
                <i class="fa-solid fa-thumbs-up">Upvote</i>

            </div>
            <div>
                <i class="fa-solid fa-thumbs-down">Downvote</i>
            </div>
        </div>
    </div>
</div>
{%endblock %}

{% block footer %} 
{% endblock %}