{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}



{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Don't have an account? <a href="{{ url_for('main.register')}}">Sign Up Here</a></h3>
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password)}}
            <a href="{{ url_for('main.posts')}}"><button class="btn btn-outline-primary">{{ wtf.form_field(form.submit)}}</button></a>
        </div>
        <div class="col">
            <span>"</span><br>
            <p>
                In life, you only have 60 seconds to impress<br>
                someone. 1 minute can make or break you.<br>
                MYPITCH helps you post your one minute<br>
                pitch for your idea and lets like minded users<br>
                give vital feedback and vote for it
            </p>
            <span>"</span>
        </div>
    </div>
</div>
{%endblock %}

{% block footer%}
{% endblock%}